@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    direction: rtl;
    @apply text-right bg-gray-50;
  }
}

@layer components {
  .mb-menu {
    @apply fixed top-0 bottom-0 md:hidden w-60 bg-gray-50 shadow transition-all z-40;
  }
  .mb-menu-not-active {
    @apply -right-60;
  }
  .mb-menu-active {
    @apply right-0;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
